# Application
DIMS_ENVIRONMENT=development

# Flask
DEBUG=True
FLASK_ENV="${DIMS_ENVIRONMENT}"

# Transfer MQ
MQ_TRANSFER_HOST=dev_activemq
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
MQ_TRANSFER_QUEUE=dev_queue
MQ_TRANSFER_SSL_ENABLED=False # False for local development environment

# Process MQ
MQ_PROCESS_HOST=dev_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
MQ_PROCESS_QUEUE=dev_queue
MQ_PROCESS_SSL_ENABLED=False # False for local development environment
