# Application
DIMS_ENVIRONMENT=development
LOG_FILE_PATH=/home/dimsuser/logs/dims.log
LOG_LEVEL=DEBUG # Choose from CRITICAL, ERROR, WARNING, INFO, DEBUG

# Flask
DEBUG=True
FLASK_ENV="${DIMS_ENVIRONMENT}"

# Transfer MQ
MQ_TRANSFER_HOST=dev_activemq
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
MQ_TRANSFER_SSL_ENABLED=False # False for local development environment
MQ_TRANSFER_QUEUE_TRANSFER_READY=/queue/transfer-ready
MQ_TRANSFER_QUEUE_TRANSFER_STATUS=/queue/dropbox-transfer-status

# Process MQ
MQ_PROCESS_HOST=dev_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
MQ_PROCESS_SSL_ENABLED=False # False for local development environment
MQ_PROCESS_QUEUE_PROCESS_READY=/queue/dims-data-ready
MQ_PROCESS_QUEUE_PROCESS_STATUS=/queue/drs-ingest-status
