# Application
DIMS_ENVIRONMENT=development
LOG_FILE_PATH=/home/dimsuser/logs/dims.log
# Choose from CRITICAL, ERROR, WARNING, INFO, DEBUG
LOG_LEVEL=DEBUG
CELERY_LOG_LEVEL=DEBUG
GIT_PYTHON_REFRESH=quiet

# Dropboxes
BASE_DROPBOX_PATH=/home/appuser/dropbox
DATAVERSE_DROPBOX_NAME=dvndev
EPADD_DROPBOX_NAME=epadddev_secure
ETD_DROPBOX_NAME=etddev

# MongoDB
MONGODB_HOST_1=mongodb
MONGODB_HOST_2=mongodb
MONGODB_HOST_3=mongodb
MONGODB_PORT=27017
MONGODB_DB_NAME=dims
MONGODB_USER=dims_user
MONGODB_PASSWORD=dims_password

# JWT Keys
JWT_KEYS = {"kid_value_1":{"iss":"iss_1","public_key_path":"public_key_path_1","application_name":"application_name_1"},"kid_value_2":{"iss":"iss_2","public_key_path":"public_key_path_2","application_name":"application_name_2"}}

# Dataverse
DATAVERSE_BASE_URL=http://dvn-dev-hdc.lib.harvard.edu
DATAVERSE_API_KEY=
DATAVERSE_JWT_PRIVATE_KEY_FILE_PATH=/home/dimsuser/test/functional/test_dataverse_private.key

# ePADD
EPADD_JWT_PRIVATE_KEY_FILE_PATH=/home/dimsuser/test/functional/test_epadd_private.key

# Flask
DEBUG=True
FLASK_ENV="${DIMS_ENVIRONMENT}"

# MQs
MESSAGE_EXPIRATION_MS=3600000
MESSAGE_MAX_RETRIES=3

BROKER_URL=XXX

# Transfer MQ
TRANSFER_CONSUME_QUEUE_NAME=transfer-ready
TRANSFER_PUBLISH_QUEUE_NAME=dropbox-transfer-status

# Process MQ
PROCESS_CONSUME_QUEUE_NAME=dims-data-ready
PROCESS_PUBLISH_QUEUE_NAME=drs-ingest-status

PROCESS_TASK_NAME=dims.tasks.handle_process_status
TRANSFER_TASK_NAME=dims.tasks.handle_transfer_status

DLQ_EXCHANGE_NAME=dais-dead-letter-exchange
DLQ_QUEUE_NAME=dais-dead-letter-queue

#Notify queuing
MQ_HOST=b-cfb7f4c2-9140-4b5b-a551-1ccaf8c61d4e-1.mq.us-east-1.amazonaws.com
MQ_PORT=61614
MQ_USER=ims
MQ_PASSWORD=XXX
QUEUE_NAME=/queue/dais-notify
DEFAULT_EMAIL_RECIPIENT=dts@hu.onmicrosoft.com
