[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.0.1"

[packages]
flask = "==2.0.3"
connexion = "==2.12.0"
dependency-injector = "==4.38.0"
python-dotenv = "==0.19.2"
"stomp.py" = "==8.0.0"

[requires]
python_version = "3.10.2"
