# MongoDB
MONGODB_HOST=test_mongodb
MONGODB_PORT=27017
MONGODB_DB_NAME=dims
MONGODB_USER=dims_user
MONGODB_PASSWORD=dims_password

# Dataverse
DATAVERSE_JWT_ISSUER="Test Dataverse"
DATAVERSE_JWT_KID=testKidDataverse
DATAVERSE_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArzhQ1h90Et1t97g1GbbR
nGQ/PDKdnC3JfFtNBuTlDsL3MtuZKRiQz2vJNTu0gS0H3IajzOlovG82aGM0FiDa
f4RvhyMsJSoCpKg+0l0iwNUCrQSLgvooRWpqZu6rcuB/JgQqC9DocgKEXTGV0B/1
/bBzFAlv8EzMB1rO6tFiS4YFGAZRenEaYgJAjn1Max531P8eIZGH4g+VaeiNJEjN
PN2bkf0Au8RhYmBNA4Jl+pYz8giKspfDgIAc1BMT+NUYppXfzh5YNAxotusVtd3+
flUxGMibIf3vn04pOFN2wJ7rh8i3zAWo+5r/6NSf71GjgmUbvitrDg2VgM3UDInM
JQIDAQAB
-----END PUBLIC KEY-----"
DATAVERSE_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCvOFDWH3QS3W33
uDUZttGcZD88Mp2cLcl8W00G5OUOwvcy25kpGJDPa8k1O7SBLQfchqPM6Wi8bzZo
YzQWINp/hG+HIywlKgKkqD7SXSLA1QKtBIuC+ihFampm7qty4H8mBCoL0OhyAoRd
MZXQH/X9sHMUCW/wTMwHWs7q0WJLhgUYBlF6cRpiAkCOfUxrHnfU/x4hkYfiD5Vp
6I0kSM083ZuR/QC7xGFiYE0DgmX6ljPyCIqyl8OAgBzUExP41Rimld/OHlg0DGi2
6xW13f5+VTEYyJsh/e+fTik4U3bAnuuHyLfMBaj7mv/o1J/vUaOCZRu+K2sODZWA
zdQMicwlAgMBAAECggEAJ3eSH7Tcfo5RQYHEtirLeoRLCQpmnWHj1yayiim/HWzV
ZOd5T3wozAu9ecfdv9XuhiHunc56SK1tLiSgPBbA2IWyYFhQDnvwtflukxAm7pPc
Qy/5o7IopYATgOVkCV9fTGcWOGyhGuMNwPcVBVjZnf+jYCFDDTejIkn2PwaUMynY
AdCvxTHhYJl7wWzXuucLE1rMZHg16szq+7fmRZLKc1DU8vGaiLF4B9FjHFpQE2kC
JC2IxXyD3C+jh8i6X2MdnM/dKDlieb8FMIQV3KWc1qTFXzeR+DQa0glgKeKQS/Z6
8SuS42U+jeHg4tAlbqaRn4cRlgASL8aWkF2Hzbf7CQKBgQDuZ3fYAOQoMsy6CNrm
1VvqciG3DmqNoZV1GY9bNV9RftesXwCSvHRIaRvXbEjMk0bm06DAn7eb3X6zl/4x
5bVWiD8p9iJfpJ8XnA9MWZQ1Gc4VYQpLQs0xHrIyDF1qzV6N+yxwij0RvVP6A86j
UdCV9EJ+YQq94atcTmcfhBoo/QKBgQC8JwNKHrAybJ60Hs+twRoS8aYmlERRauCG
yTvSb10whxUx90NipWX2SwzIoRkrs75iof1yyCXVcu7lBQzxKQyNSF0INWNfypFr
fYWRaSpKERau8rzqxFJkS37f/mmV28zSJXjnXCQqre51+k01/993pNmdjIwEPxhs
KFHHbV1MSQKBgQCsS9LtJRe/hZc4DBZIJYKcWYfMSHrxiQn+604T2OredxFf3fkI
E3LmsjAQ7I1gbEAdqmzPSZ7k4psjKIHphd4cf7NGnEATZ2IjKgJUZ5kZF2E9Sjiq
U8j/6vNWAGGzQmFHs3NWklG4dGAwnHfGyOY6uaEkvPWKbYHu4CrfOBW/8QKBgGRR
rMhVSn7oOUoyb2rmXb+iBoPlY/PBN4vGOdY+uIJKU/u7KbusEoxagatrcd9CTA2M
73TG0J1ZVZTYt4jR6TZfUfMxfBW0DQsx9wiL+Rdauyx2klHecUu2kSRfIu7bLf8S
Kb+5+jKjYFSZK5fSINVLGRiOuoz9E0l/yfK6Fhe5AoGBAJ2D5JT98yJ43YmBEJzp
zxyP1q8+EVVL/9nUBcazpuVo3ZoXUHg16sEwTxRm17FAJk90ij2E5wtayucdlqP1
fZXp6X2PaRc6TPL3XAaA84ra24aJec8TBmZHgYdt+TGZFljOUVc8iv2VM2AFDuNO
PJ/lLIgkY2Q1R9L05kf+n2Nx
-----END PRIVATE KEY-----"

# Transfer MQ
MQ_TRANSFER_HOST=test_activemq
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
MQ_TRANSFER_SSL_ENABLED=False # False for local test environment
MQ_TRANSFER_QUEUE_TRANSFER_READY=/queue/test-transfer-ready
MQ_TRANSFER_QUEUE_TRANSFER_STATUS=/queue/test-dropbox-transfer-status

# Process MQ
MQ_PROCESS_HOST=test_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
MQ_PROCESS_SSL_ENABLED=False # False for local test environment
MQ_PROCESS_QUEUE_PROCESS_READY=/queue/test-dims-data-ready
MQ_PROCESS_QUEUE_PROCESS_STATUS=/queue/test-drs-ingest-status
