# Application
GIT_PYTHON_REFRESH=quiet

# Dropboxes
BASE_DROPBOX_PATH=/home/appuser/dropbox
DATAVERSE_DROPBOX_NAME=dvndev
EPADD_DROPBOX_NAME=epadddev_secure

# MongoDB
MONGODB_HOST_1=test_mongodb
MONGODB_HOST_2=test_mongodb
MONGODB_HOST_3=test_mongodb
MONGODB_PORT=27017
MONGODB_DB_NAME=dims
MONGODB_USER=dims_user
MONGODB_PASSWORD=dims_password

# JWT Keys
JWT_KEYS = {"testKidDataverse":{"iss":"Test Dataverse","public_key_path":"/home/dimsuser/test/functional/test_dataverse_public.key","application_name":"Dataverse"},"testKidEPADD":{"iss":"Test ePADD","public_key_path":"/home/dimsuser/test/functional/test_epadd_public.key","application_name":"ePADD"}}

# Dataverse
DATAVERSE_JWT_PRIVATE_KEY_FILE_PATH=/home/dimsuser/test/functional/test_dataverse_private.key
DATAVERSE_BASE_URL=http://dvn-dev-hdc.lib.harvard.edu

# ePADD
EPADD_JWT_PRIVATE_KEY_FILE_PATH=/home/dimsuser/test/functional/test_epadd_private.key

# MQs
MESSAGE_EXPIRATION_MS=5000

# Transfer MQ
MQ_TRANSFER_HOST=test_activemq_functional
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
# False for local test environment
MQ_TRANSFER_SSL_ENABLED=False
MQ_TRANSFER_QUEUE_TRANSFER_READY=/queue/test-functional-transfer-ready
MQ_TRANSFER_QUEUE_TRANSFER_STATUS=/queue/test-functional-dropbox-transfer-status

# Process MQ
MQ_PROCESS_HOST=test_activemq_functional
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
# False for local test environment
MQ_PROCESS_SSL_ENABLED=False
MQ_PROCESS_QUEUE_PROCESS_READY=/queue/test-functional-dims-data-ready
MQ_PROCESS_QUEUE_PROCESS_STATUS=/queue/test-functional-drs-ingest-status
