# Transfer MQ
MQ_TRANSFER_HOST=test_activemq
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
MQ_TRANSFER_SSL_ENABLED=False # False for local test environment
MQ_TRANSFER_QUEUE_TRANSFER_READY=/queue/transfer-ready

# Process MQ
MQ_PROCESS_HOST=test_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
MQ_PROCESS_SSL_ENABLED=False # False for local test environment
MQ_PROCESS_QUEUE_DRS_INGEST_STATUS=/queue/drs-ingest-status
