# Starfish MQ
MQ_STARFISH_HOST=test_activemq
MQ_STARFISH_PORT=61613
MQ_STARFISH_USER=admin
MQ_STARFISH_PASSWORD=admin
MQ_STARFISH_QUEUE=test_queue
MQ_STARFISH_SSL_ENABLED=False # False for local test environment

# Process MQ
MQ_PROCESS_HOST=test_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
MQ_PROCESS_QUEUE=test_queue
MQ_PROCESS_SSL_ENABLED=False # False for local test environment
