# Transfer MQ
MQ_TRANSFER_HOST=test_activemq
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
MQ_TRANSFER_QUEUE=test_queue
MQ_TRANSFER_SSL_ENABLED=False # False for local test environment

# Process MQ
MQ_PROCESS_HOST=test_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
MQ_PROCESS_QUEUE=test_queue
MQ_PROCESS_SSL_ENABLED=False # False for local test environment
